* {
	padding: 0; 
	margin: 0; 
}

.cols {
	font-size: 0;
	line-height: 0;
}

.col {
	display: inline-block;
}

.col--50 {
	width: 50%;
}

.promo-page {
	position: fixed; 
	top: 0%; 
	left: 0%; 
	width: 100%; 
	height: 100%;
	background: url('../pic/pic_01.jpg') 50% no-repeat;
	background-size: cover;
}
.promo-page__bg {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

.promo-cont {
	position: relative;
	height: 100%;
	z-index: 1;
}
.promo-cont__wrap {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
.promo-cont__wrap:before {
	content: "";
	height: 100%;
	width: 0;
	line-height: 100%;
	vertical-align: middle;
	display: inline-block;
}
.promo-cont__content {
	display: inline-block;
	vertical-align: middle;
	width: 90%; /* нужно менее 100%, пойдет вместо паддингов у .wrap */
	max-width: 500px;
}
.promo-cont__pica {
	margin: 0 auto 30px;
	text-align: center;
}
.promo-cont__pic {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.promo-cont__cols {
	margin-left: -5%;
	margin-right: -5%;
}
.promo-cont__col-wrap {
	margin: 0 5%;
}

.btn {
	width: 100%;
	height: 90px;
	display: inline-block;
	cursor: pointer;
}
.btn_type-01 {
	background: url('../pic/btn_01.png') 50% 0 no-repeat;
	background-size: contain;
}
.btn_type-01:hover {
	background: url('../pic/btn_01_h.png') 50% 0 no-repeat;
	background-size: contain;
}
.btn_type-02 {
	background: url('../pic/btn_02.png') 50% 0 no-repeat;
	background-size: contain;
}
.btn_type-02:hover {
	background: url('../pic/btn_02_h.png') 50% 0 no-repeat;
	background-size: contain;
}